.NewContain{
    display: flex;
    background-color: var(--blanco);
    margin-bottom: 1rem;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.042);
    padding: 10px 0px;
    overflow: hidden;
   
}
#crearForm{
   
    display: flex;
    gap: 10px;
    width: 100%;
}
.imgProfi{
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 100%;
    
}

#topMargin{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.deFlexImg{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-top: 10px;
}
.deFlexs{
    display: flex;
    align-items: center;
    gap: 1rem;
   

}
.deFlexImg input{
   width: 100%;
   padding:  5px ;
 
   border: none;
   background-color: #f2f2f2;
  
   border: 1px solid #dbd5d5;
   border-radius: 7px;
   display: none;
 
}
.deFlexInput{
    border: none;
   
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color2);
}
.deFlexInput button{
    border: none;
    width: 100%;
    cursor: pointer;
}

.deFlexInput input{
  padding: 10px;
  border: none;
  width: 100%;
   }


.imgBg label{
    background-color:var(--color1);
    color: var(--blanco);
    width: 2rem;
    object-fit: cover;
    height: 2rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
   
}
.inputCreate{
    display: flex;
    flex-direction: column;
   
   
}
.inputCreate textarea{
   
    border-radius: 10px;
    padding: 10px;
   min-height: 10vh;
   margin-top: 10px;
 
   width: 100%;
   min-width: 30rem;
   border: 0.1px solid var(--border)!important;
}
.inputCreate input{
    border: 0.1px solid var(--border)!important;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
   width: 100%;
   min-width: 30rem;
  
}
.inputCreate select{
   border-radius: 10px;
   padding: 10px;
   margin-top: 10px;
   width: 100%;
   min-width: 30rem;
   border: 0.1px solid var(--border)!important;
   background-color: var(--blanco);
   color: var(--text-color2);
}
.btn{
    background-color: var(--color1);
    padding: 10px 20px;
    border: none;
    border-radius: 30rem;
    color: var(--blanco);
    font-size: 14px;
    cursor: pointer;
}
.btnLoading{
    background-color:#00ecf843;
    background-color: var(--color1);
    padding: 10px 20px;
    border: none;
    border-radius: 30rem;
    color: var(--blanco);
    font-size: 14px;
    cursor: pointer;
}
.modal-content{
    background-color: var(--blanco);
    border-radius: 10px;
    padding: 10px 20px;
    height: 80vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    
    
}

.btnLocation{
    background-color: var(--color1);
    padding: 15px;
    border: none;
    border-radius: 30rem;
    color: var(--blanco);
    font-size: 17px;
    margin-top: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inputCreate button{
    padding: 15px;
    border: none;
    border-radius: 30rem;
    color: var(--blanco);
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.close {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: right;
    cursor: pointer;
  
}
.imgsPubliCreate{
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    width: 100%;
   padding-bottom: 1rem;
   padding-right: 10%;
   margin-bottom: 1rem;
  
}
.imgsPubliCreate img{
    width: 100%;
    height: 30vh;
    object-fit: cover;
    border-radius: 20px;
    
}
.imgsPubliCreate::-webkit-scrollbar {
    width: 5px;
    height: 5px;

    cursor: pointer;
    background-color: transparent;

}

.imgsPubliCreate::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 10px;
   
}
@media (max-width: 1024px) {
    #crearForm{
      
      padding: 0;
      
    }
    
.deFlexImg{

   width: 50%;
   
}
   
}
@media (max-width: 700px){
   


.deFlexs{
    display: flex;
    align-items: center;
    gap: 10px;
   

}
.inputCreate textarea{
    border: none;
    padding: 10px;
  
 
   width: 100%;
   min-width: 100%;
   
}
.inputCreate input{
   
   min-width: 100%;
  
}
.inputCreate select{
   
  
  
   min-width: 100%;
  
}

}