.MainGrid{
  padding: 100px 10%;

  display: flex;

  place-content: center;
  gap: 2rem;
    align-content: center;
  }
  
  
  

.columnGridlef{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    left: 10%;
}
.columnGridRitgh{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: fixed;
    right: 10%;
}
.feed{
    position: relative;
  
    border-radius: 10px;
  
    width: 37rem;
    padding: 10px;
   
   
   
    
}

@media (max-width: 1020px){
    
.columnGridlef{

  display: none;
}
.columnGridRitgh{
position: relative;
}
.MainGrid{
    padding: 80px 0%;
    flex-direction: column;
   

  }
  .feed{
    width: 100%;
    padding: 0;
  }

}